/*moduls 
=================================*/
.is-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

/*animaciones de carga
========================================*/
@keyframes slideFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.slide-in-right {
  animation: slideFromRight 1.5s forwards;
}

.slide-in-left {
  animation: slideFromLeft 1.5s forwards;
}

/*page
=================================*/
